<div id="name">John T. Kamenik</div>
<div id="title">Director DevSecOps</div>
<div id="address"> 
  <a href="tel:443-206-1583">443-206-1583</a> /
  <a href="mailto:jkamenik@gmail.com">jkamenik@gmail.com</a> /
  <a href="https://www.linkedin.com/in/johnkamenik/">https://www.linkedin.com/in/johnkamenik</a>
</div>
<div id="nav">
  <ul>
    <li><a href="#summary">Summary</a></li>
    <li><a href="#skills">Skills</a></li>
    <!-- <li><a href="#open_source">Open Source</a></li> -->
    <li><a href="#work_experience">Work Experience</a></li>
    <li><a href="#interests">Interests</a></li>
    <li><a href="#education">Education</a></li>
    <!--<li>References</li>-->
    <li><a href="http://github.com/jkamenik" target="_blank">GitHub</a></li>
    <li><a href="#" onclick="window.print()"><b>Print Resume</b></a></li>
  </ul>
</div>
