<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href="{{site.url}}/css/base.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{site.url}}/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{site.url}}/css/print.css" media='print' rel='stylesheet' type='text/css' />

        <!-- uncomment the below and comment out screen.css to test printing quickly -->
        <!-- <link href="{{site.url}}/css/print.css" media='screen' rel='stylesheet' type='text/css' /> -->

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        {% include analytics.html %}
    </head>

    <body>
        <div style="display:none">
            {{site}}
        </div>

        <div id="page">
            <div id="header">
                {% include header.html %}
            </div>

            <div id="content">
                {{ content }}
            </div>

            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
